{
    "parser": "babel-eslint",
    "env": {
        "node": true,
        "es6": true
    },
    "globals": {
        "Set": false
    },
    extends: "eslint:recommended",
    "rules": {
        "no-console": 0,
        "no-constant-condition": 0,
        "semi": [2, "always"]
    }
}
