language: objective-c

osx_image: xcode7.3

before_install:
  - brew update
  - brew upgrade go node || brew install go node
  - npm install
  - curl -sSf https://static.rust-lang.org/rustup.sh | sh -s -- --yes --channel=nightly

script: ./test
